# Access bash from Jupyter

In [2]:
!pwd

/Users/calvincheung/DataBox/data_science_teaching

In [1]:
!which python

/Users/calvincheung/anaconda/envs/py36/bin/python

In [4]:
!ls

LICENSE            README.md          basic python.ipynb titanic

# Basic python data type

In [5]:
# string
a = 'hello'
type(a)

str

In [6]:
b = 10
type(b)

int

In [7]:
c = 10.5
type(c)

float

In [11]:
d = b + c
print(d)
type(d)

20.5

float

In [12]:
# list
e = [1,2,3,4]
type(e)

list

In [13]:
# adding two list
f = [5, 6, 7, 8]
e+f

[1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
# list of mix data type
g = [1, 2, 'e', 5, '123']
g

[1, 2, 'e', 5, '123']

In [17]:
# dictionary
h = {}
h['a'] = 100
h['b'] = 'apple'
h

{'a': 100, 'b': 'apple'}

In [18]:
h['a']

100

# Python library

In [19]:
# existing library
!pip list

DEPRECATION: The default format will switch to columns in the future. You can use --format=(legacy|columns) (or define a format=(legacy|columns) in your pip.conf under the [list] section) to disable this warning.
appnope (0.1.0)
certifi (2017.11.5)
decorator (4.1.2)
ipykernel (4.7.0)
ipython (6.2.1)
ipython-genutils (0.2.0)
jedi (0.11.1)
jupyter-client (5.2.1)
jupyter-core (4.4.0)
parso (0.1.1)
pexpect (4.3.1)
pickleshare (0.7.4)
pip (9.0.1)
prompt-toolkit (1.0.15)
ptyprocess (0.5.2)
Pygments (2.2.0)
python-dateutil (2.6.1)
pyzmq (16.0.3)
setuptools (36.5.0.post20170921)
simplegeneric (0.8.1)
six (1.11.0)
tornado (4.5.2)
traitlets (4.3.2)
wcwidth (0.1.7)
wheel (0.30.0)

In [20]:
# install new library
!pip install numpy

Collecting numpy
  Downloading numpy-1.13.3-cp36-cp36m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (4.5MB)
    100% |████████████████████████████████| 4.6MB 371kB/s
Installing collected packages: numpy
Successfully installed numpy-1.13.3

In [22]:
!pip install pandas

Collecting pandas
  Downloading pandas-0.22.0-cp36-cp36m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (14.9MB)
    100% |████████████████████████████████| 14.9MB 113kB/s
Requirement already satisfied: numpy>=1.9.0 in /Users/calvincheung/anaconda/envs/py36/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: python-dateutil>=2 in /Users/calvincheung/anaconda/envs/py36/lib/python3.6/site-packages (from pandas)
Collecting pytz>=2011k (from pandas)
  Downloading pytz-2017.3-py2.py3-none-any.whl (511kB)
    100% |████████████████████████████████| 512kB 2.8MB/s
Requirement already satisfied: six>=1.5 in /Users/calvincheung/anaconda/envs/py36/lib/python3.6/site-packages (from python-dateutil>=2->pandas)
Installing collected packages: pytz, pandas
Successfully installed pandas-0.22.0 pytz-2017.3

In [23]:
!pip list

DEPRECATION: The default format will switch to columns in the future. You can use --format=(legacy|columns) (or define a format=(legacy|columns) in your pip.conf under the [list] section) to disable this warning.
appnope (0.1.0)
certifi (2017.11.5)
decorator (4.1.2)
ipykernel (4.7.0)
ipython (6.2.1)
ipython-genutils (0.2.0)
jedi (0.11.1)
jupyter-client (5.2.1)
jupyter-core (4.4.0)
numpy (1.13.3)
pandas (0.22.0)
parso (0.1.1)
pexpect (4.3.1)
pickleshare (0.7.4)
pip (9.0.1)
prompt-toolkit (1.0.15)
ptyprocess (0.5.2)
Pygments (2.2.0)
python-dateutil (2.6.1)
pytz (2017.3)
pyzmq (16.0.3)
setuptools (36.5.0.post20170921)
simplegeneric (0.8.1)
six (1.11.0)
tornado (4.5.2)
traitlets (4.3.2)
wcwidth (0.1.7)
wheel (0.30.0)

In [25]:
!ls titanic

asset                 test.csv              train.csv
full.xls              titanic example.ipynb

In [27]:
# import library
import numpy as np
import pandas as pd

In [28]:
who

a	 b	 c	 d	 e	 f	 g	 h	 np
pd

In [29]:
dir(pd)

['Categorical',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'ExcelFile',
 'ExcelWriter',
 'Expr',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int64Index',
 'MultiIndex',
 'NaT',
 'Panel',
 'Panel4D',
 'Period',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseArray',
 'SparseDataFrame',
 'SparseList',
 'SparseSeries',
 'SparseTimeSeries',
 'Term',
 'TimeGrouper',
 'TimeSeries',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'WidePanel',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_join',
 '_np_version_under1p10',
 '_np_version_under1p11',
 '_np_version_under1p12',
 '_np_version_under1p8',
 '_np_version_under1p9',
 '_period',
 '_sparse',
 '_testing',
 '_version',
 '_window',
 'algos',
 'api',
 'bdate_range',
 'compat',
 'computation',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'datetime',
 'datetools',
 'describe_option',
 'eval',
 'ewma',
 'ewmcorr',
 'ewmcov',
 'ewmstd',
 'ewmvar',
 'ewmvol',
 'expanding_apply',
 'expanding_corr',
 'expanding_count',
 'expanding_cov',
 'expanding_kurt',
 'expanding_max',
 'expanding_mean',
 'expanding_median',
 'expanding_min',
 'expanding_quantile',
 'expanding_skew',
 'expanding_std',
 'expanding_sum',
 'expanding_var',
 'factorize',
 'fama_macbeth',
 'formats',
 'get_dummies',
 'get_option',
 'get_store',
 'groupby',
 'hashtable',
 'index',
 'indexes',
 'infer_freq',
 'info',
 'io',
 'isnull',
 'json',
 'lib',
 'lreshape',
 'match',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'msgpack',
 'notnull',
 'np',
 'offsets',
 'ols',
 'option_context',
 'options',
 'ordered_merge',
 'pandas',
 'parser',
 'period_range',
 'pivot',
 'pivot_table',
 'plot_params',
 'pnow',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_msgpack',
 'read_pickle',
 'read_sas',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'rolling_apply',
 'rolling_corr',
 'rolling_count',
 'rolling_cov',
 'rolling_kurt',
 'rolling_max',
 'rolling_mean',
 'rolling_median',
 'rolling_min',
 'rolling_quantile',
 'rolling_skew',
 'rolling_std',
 'rolling_sum',
 'rolling_var',
 'rolling_window',
 'scatter_matrix',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'sparse',
 'stats',
 'test',
 'timedelta_range',
 'to_datetime',
 'to_msgpack',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tools',
 'tseries',
 'tslib',
 'types',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [31]:
!ls titanic

asset                 test.csv              train.csv
full.xls              titanic example.ipynb

In [33]:
df = pd.read_csv('titanic/train.csv')

In [34]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S