In [1]:
!ls data

cdnow_customers_summary.csv
cdnow_customers_summary_with_transactions.csv
donations.csv
example_transactions.csv

In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('data/cdnow_customers_summary.csv', index_col = 0)

In [7]:
df.head()

    frequency  recency      T
ID
1           2    30.43  38.86
2           1     1.71  38.86
3           0     0.00  38.86
4           0     0.00  38.86
5           0     0.00  38.86